<section th:fragment="index">
    <div class="modal fade" id="insertNewAccountDialogForm" role="dialog" data-toggle="modal" data-backdrop="">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">&times;</a>
                    <h3 th:text="#{insertNewContactDialogForm.header}">Modal Header</h3>
                </div>
                <div class="modal-body">
                    <ng-form name="newContactPopUpForm" class="form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <label for="firstNameField" class="col-lg-4 col-md-4 col-sm-4 col-xs-4" th:text="#{firstName.label(':')}"></label>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <input  id="firstNameField" class="form-control" type="text" ng-model="newContact.firstName"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastNameField" class="col-lg-4 col-md-4 col-sm-4 col-xs-4" th:text="#{lastName.label(':')}"></label>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <input  id="lastNameField" class="form-control" type="text" ng-model="newContact.lastName"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="birthField" class="col-lg-4 col-md-4 col-sm-4 col-xs-4" th:text="#{birth.label(':')}"></label>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <input id="birthField" class="form-control" type="text" ng-model="newContact.birth" ui-date="dateOptions"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="telephoneNumberField" class="col-lg-4 col-md-4 col-sm-4 col-xs-4" th:text="#{telephoneNumber.label(':')}"></label>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <input id="telephoneNumberField" class="form-control" type="text" ng-model="newContact.telephoneNumber" ui-mask="{{'999/9999999'}}"/>
                                </div>
                            </div>
                        </fieldset>
                    </ng-form>
                    <input type="submit" value="submit data" ng-click="submitForm()" class="btn btn-default"/>
                    </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="popUpContactDialog" role="dialog" data-toggle="modal" data-backdrop="">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">&times;</a>
                    <h3 th:text="#{popUpContactDialog.header}">Modal Header</h3>
                </div>
                <div class="modal-body container-fluid">
                    <div class="row">
                        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4" th:text="#{firstName.label(':')}">></span>
                        <span class="col-lg-8 col-md-8 col-sm-8 col-xs-8">{{contactDetails.firstName}}</span>
                    </div>
                    <div class="row">
                        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4" th:text="#{lastName.label(':')}">></span>
                        <span class="col-lg-8 col-md-8 col-sm-8 col-xs-8">{{contactDetails.lastName}}</span>
                    </div>
                    <div class="row">
                        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4" th:text="#{birth.label(':')}"></span>
                        <span class="col-lg-8 col-md-8 col-sm-8 col-xs-8">{{contactDetails.birth  | date:dateFormFormatting}}</span>
                    </div>
                    <div class="row">
                        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4" th:text="#{telephoneNumber.label(':')}">></span>
                        <span class="col-lg-8 col-md-8 col-sm-8 col-xs-8">{{contactDetails.telephoneNumber}}</span>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Table -->
                <table class="table">
                    <thead>
                    <th th:text="#{firstName.label('')}"></th>
                    <th th:text="#{lastName.label('')}"></th>
                    <th th:text="#{telephoneNumber.label('')}"></th>
                    <th th:text="#{birth.label('')}"></th>
                    <th th:text="#{operation.label('')}"></th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="contact in contacts">
                        <td>{{contact.firstName}}</td>
                        <td>{{contact.lastName}}</td>
                        <td>{{contact.telephoneNumber}}</td>
                        <td>{{contact.birth  | date:dateFormFormatting}}</td>
                        <td><input class="btn btn-default" value="Details" ng-click="shwoContactDetails(contact.id)"/></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>