<!DOCTYPE html>
<html ng-app="elenco-telefonico"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="fragments/head :: head(#{title})"></head>
    <body th:attr="ng-controller=${controller}">

    <script th:src="@{/resources/jQuery/jquery-2.1.1.js}"></script>
    <script th:src="@{/resources/bootstrap-3.2.0-dist/js/bootstrap.min.js}"></script>

    <div th:replace="fragments/menu :: menu">Menu</div>
        <div sec:authorize="hasRole('ROLE_USER')">
            <div th:replace="${navigation} :: ${content}"> </div>
        </div>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <div th:replace="admin/content :: index"> </div>
        </div>
    </body>
</html>

