<!DOCTYPE html>
<html ng-app="elenco-telefonico"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"        >
    <head th:replace="fragments/head :: head(#{title})"></head>
    <body ng-controller="handleFormController">
        <div th:replace="fragments/menu :: menu">Menu</div>
        <div sec:authorize="hasRole('ROLE_USER')">
            <div class="container" th:replace="content/content :: index"> </div>
        </div>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <div class="container" th:replace="admin/content :: index"> </div>
        </div>
    </body>
</html>

