<!DOCTYPE html>
<html ng-app="elenco-telefonico"
      ng-controller="mainController"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="fragments/head :: head(#{title})"></head>
    <body th:attr="ng-controller=${controller}">

        <div th:replace="fragments/menu :: menu">Menu</div>
        <div sec:authorize="hasRole('ROLE_USER')">
            <div th:replace="${navigation} :: ${content}"> </div>
        </div>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <div th:replace="admin/content :: index"> </div>
        </div>

        <script th:src="@{/resources/bootstrap/3.3.2/js/bootstrap.min.js}"></script>
    </body>
</html>

