<!DOCTYPE html>
<html ng-app="elenco-telefonico"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head(#{title})">
        <!--
    The head content is only for prototyping propouse.
    During the web-app usage will be replaced by the actual head
    -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.3/jquery.min.js"></script>

        <script src="http://cdn.jsdelivr.net/webjars/jquery-ui/1.11.3/jquery-ui.min.js"></script>
        <link rel="stylesheet" ref="http://cdn.jsdelivr.net/webjars/jquery-ui/1.11.3/jquery-ui.min.css"/>

        <link rel="stylesheet" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.2/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.2/css/bootstrap-theme.min.css"/>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="http://cdn.jsdelivr.net/webjars/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="http://cdn.jsdelivr.net/webjars/respond/1.4.2/dest/respond.min.js"></script>
        <![endif]-->

        <link rel="stylesheet" href="../../../web-resources/css/core.css"/>
        <title>Reset data collect Mock Up</title>
    </head>
    <body>
        <form class="form-narrow form-horizontal" action="/resetPassword/resetFormDataCollect" th:action="@{/resetPassword/resetFormDataCollect}" method="post">
            <fieldset>
                <legend>Please insert the data for password recovery</legend>
                <div class="row">
                    <div class="form-group">
                        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            Mail:
                        </span>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <input class="form-control" name="mail" type="email" placeholder="insert your mail"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <span class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            User Name:
                        </span>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <input class="form-control" name="userName" type="text" placeholder="insert your user name"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <input class="btn btn-default" type="submit" value="submit data"/>
                    </div>
                </div>
            </fieldset>
        </form>
    </body>
</html>

