<!DOCTYPE html>
<html ng-app="elenco-telefonico"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head(#{title})"></head>
    <body th:attr="ng-controller=${controller}">
        <form class="form-narrow form-horizontal" action="/index" th:action="@{/index}" method="get">
            <fieldset>
                <div th:if="${#httpServletRequest.getParameter('operation')=='nonce'}">
                    <legend>The password has been successfully updated</legend>
                </div>
                <div th:unless="${#httpServletRequest.getParameter('operation')=='nonce'}">
                    <legend>The password update request is send</legend>
                </div>
                <div class="row">
                    <input class="btn btn-default" type="submit" value="go to index"/>
                </div>
            </fieldset>
        </form>
    </body>
</html>

