<!DOCTYPE html>
<html ng-app="elenco-telefonico"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head(#{title})"></head>
    <body>
        <form class="form-narrow form-horizontal" action="/resetPassword/resetFormDataCollect" th:action="@{/resetPassword/resetFormDataCollect}" method="post">
            <fieldset>
                <legend>Please insert the data for password recovery</legend>
                <div class="row">
                    <div class="form-group">
                        <span class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            Mail:
                        </span>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <input class="form-control" name="mail" type="email" placeholder="insert your mail"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <span class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                            User Name:
                        </span>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <input class="form-control" name="userName" type="text" placeholder="insert your user name"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <input class="btn btn-default" type="submit" value="submit data"/>
                    </div>
                </div>
            </fieldset>
        </form>
    </body>
</html>

