<!DOCTYPE html>
<html ng-app="elenco-telefonico"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head(#{title})"></head>
    <body th:attr="ng-controller=${controller}">

        <form action="/resetPassword/reset" th:action="@{/resetPassword/reset}" method="post">
            <div class="row">
                <div class="col-lg-2">
                    New Password:
                </div>
                <div class="col-lg-10">
                    <input name="newPassword" type="password" placeholder="insert the new password"/>
                </div>
            </div>
            <div class="row">
                <button type="submit">submit data</button>
            </div>
        </form>
    </body>
</html>

