<!DOCTYPE html>
<html ng-app="elenco-telefonico"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head(#{title})"></head>
    <body th:attr="ng-controller=${controller}">

        <form class="form-narrow form-horizontal" action="/resetPassword/reset" th:action="@{/resetPassword/reset}" method="post">
            <fieldset>
                <div class="row">
                    <div class="control-form">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            New Password:
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <input name="newPassword" type="password" placeholder="insert the new password"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <input class="btn btn-default" type="submit" value="submit data"/>
                </div>
            </fieldset>
        </form>
    </body>
</html>

