<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:batch="http://www.springframework.org/schema/batch"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/batch
                           http://www.springframework.org/schema/batch/spring-batch.xsd
                           http://www.springframework.org/schema/jdbc
                           http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">


    <batch:job-repository data-source="initBatchDataSource"
                          transaction-manager="transactionManager"/>

    <jdbc:embedded-database id="initBatchDataSource" type="H2">
        <jdbc:script location="classpath:org/springframework/batch/core/schema-drop-h2.sql" />
        <jdbc:script location="classpath:org/springframework/batch/core/schema-h2.sql" />
    </jdbc:embedded-database>


    <batch:job id="init">
        <batch:step id="userInit" next="contactInit">
            <batch:tasklet>
                <batch:chunk reader="userReader"
                             processor="userPostProcessor"
                             writer="writer"
                             commit-interval="10"/>
            </batch:tasklet>
        </batch:step>

        <batch:step id="contactInit">
            <batch:tasklet>
                <batch:chunk reader="contactReader"
                             writer="writer"
                             commit-interval="10"/>
            </batch:tasklet>
        </batch:step>
    </batch:job>


    <bean id="userReader"
          class="org.springframework.batch.item.file.FlatFileItemReader"
          p:resource="classpath:batch/user.csv">
        <property name="lineMapper">
            <bean class="org.springframework.batch.item.file.mapping.DefaultLineMapper">
                <property  name="lineTokenizer">
                    <bean  class="org.springframework.batch.item.file.transform.DelimitedLineTokenizer"
                           p:delimiter=","
                           p:names="userName, password, firstName, lastName, mail, securityRole"/>
                </property>
                <property name="fieldSetMapper">
                    <bean id="bookUserFieldSetMapper"
                          class="it.valeriovaudi.batch.PhoneBookUserFieldSetMapper"/>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="contactReader"
          class="org.springframework.batch.item.file.FlatFileItemReader"
          p:resource="classpath:batch/contacts.csv">
        <property name="lineMapper">
            <bean class="org.springframework.batch.item.file.mapping.DefaultLineMapper">
                <property  name="lineTokenizer">
                    <bean  class="org.springframework.batch.item.file.transform.DelimitedLineTokenizer"
                           p:delimiter=","
                           p:names="firstName, lastName, telephoneNumber, birth, phoneBookUser"/>
                </property>
                <property name="fieldSetMapper">
                    <bean id="bookUserFieldSetMapper"
                          class="it.valeriovaudi.batch.ContactFieldSetMapper"
                          p:datePattern="yyyy-MM-dd"/>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="userPostProcessor"
          class="it.valeriovaudi.batch.UserItemProcessor"
          p:phonBookUserSecurityUserFactory-ref="securityUserFactory"/>

    <bean id="writer"
          class="org.springframework.batch.item.database.JpaItemWriter"
          p:entityManagerFactory-ref="entityManagerFactory"/>


    <bean id="simpleJobLauncher"
          class="org.springframework.batch.core.launch.support.SimpleJobLauncher"
          p:jobRepository-ref="jobRepository"/>

</beans>