<nav class="container" th:fragment="menu">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="navbar navbar-inverse" role="navigation" >
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Menu</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="active"><a href="/index">Home</a></li>
                        <li><a href="#" ng-click="openDialog()" th:text="#{insertNewContactDialogForm.menu.item}">Creat a new contact</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/logout" th:text="#{menu.logout}">log out</a></li>
                    </ul><!--/.navbar-collapse -->
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
</nav>
