<section th:fragment="index">
    <div class="container">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#tab1" data-toggle="tab">Home</a></li>
            <li class="active"><a href="#tab2" data-toggle="tab">Home</a></li>

        </ul>
        <div id="tab1">
            <div class="row">
                <div class="col-lg-12">
                    Admin temporary content
                </div>
            </div>
        </div>
        <div id="tab2">
            <div class="row">
                <div class="col-lg-12">
                    Admin temporary content
                </div>
            </div>
        </div>
    </div>
</section>