<section th:fragment="index">
    <div class="container">
        <!--send mail with create nonce popup-->
        <div class="modal fade" id="createNoncePopup" role="dialog" data-toggle="modal" data-backdrop="">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <a class="close" data-dismiss="modal">&times;</a>
                        <h3>Create nonce</h3>
                    </div>
                    <div class="modal-body container-fluid">
                        <div class="row">
                            <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:text="#{mailWithNonce4password}"></span>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <table class="table">
                    <thead>
                        <th th:text="#{user.table.header.firstName.label}">First Name</th>
                        <th th:text="#{user.table.header.lastName.label}">Last Name</th>
                        <th th:text="#{user.table.header.userName.label}">User Name</th>
                        <th th:text="#{user.table.header.mail.label}">Mail</th>
                        <th th:text="#{user.table.header.password.label}">Password</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in users">
                            <td>{{user.firstName}}</td>
                            <td>{{user.lastName}}</td>
                            <td>{{user.userName}}</td>
                            <td>{{user.mail}}</td>
                            <td><input class="btn btn-default" value="Reset password" ng-click="resetPassword(user.userName,user.mail)"/></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>