<section th:fragment="index">
    <div class="container">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#home" role="tab" data-toggle="tab">Home</a></li>
            <li><a href="#users" role="tab" data-toggle="tab">Users</a></li>
            <li><a href="#profile" role="tab" data-toggle="tab">Profile</a></li>
            <li><a href="#settings" role="tab" data-toggle="tab">Settings</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active"
                 id="home"
                 th:attr="ng-init='initAdministratorHomePage({userName: \''+${phoneBoockUserName}+'\'})'" >
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        {{administrator.firstName}}
                        {{administrator.lastName}}
                        {{administrator.userName}}
                        {{administrator.password}}
                    </div>
                </div>
            </div>
            <div class="tab-pane"
                 id="users"
                 th:attr="ng-init='initAdministratorUserList()'">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <table class="table">
                            <thead>
                                <th th:text="#{user.table.header.firstName.label}">First Name</th>
                                <th th:text="#{user.table.header.lastName.label}">Last Name</th>
                                <th th:text="#{user.table.header.userName.label}">User Name</th>
                                <th th:text="#{user.table.header.mail.label}">Mail</th>
                                <th th:text="#{user.table.header.password.label}">Password</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="user in users">
                                    <td>{{user.firstName}}</td>
                                    <td>{{user.lastName}}</td>
                                    <td>{{user.userName}}</td>
                                    <td>{{user.mail}}</td>
                                    <td><input class="btn btn-default" value="Reset password" ng-click="resetPassword(user.userName,user.mail)"/></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="profile">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        Messages content
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="settings">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        Settings content
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>